<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>807264504504-fg4ak6vi4620t239kipja2mipsanp1j5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807264504504-fg4ak6vi4620t239kipja2mipsanp1j5</string>
	<key>API_KEY</key>
	<string>AIzaSyDgiWy_BU4-Oyj8C1JIzCozTDqauywjXns</string>
	<key>GCM_SENDER_ID</key>
	<string>807264504504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sindhu.Skylite-Travels</string>
	<key>PROJECT_ID</key>
	<string>skylite-travels</string>
	<key>STORAGE_BUCKET</key>
	<string>skylite-travels.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:807264504504:ios:c96e407e47a83fbb</string>
	<key>DATABASE_URL</key>
	<string>https://skylite-travels.firebaseio.com</string>
</dict>
</plist>